<div class="flex text-secondary shadow p-4 sticky top-0 z-1 bg-white">
  <div class="flex flex-1">
    <div class="flex items-center text-secondary font-bold text-md">
      IGNITE X
    </div>
  </div>
  <div class="flex flex-1 justify-evenly">
    <div
      class="text-secondary text-lg font-bold cursor-pointer ease-in-out duration-200 hover:scale-110"
      *ngFor="let item of nav_menus"
      (click)="onClickMenu(item)"
    >
      {{ item?.name }}
    </div>
  </div>
</div>

<div
  class="flex w-full h-full justify-center items-center p-4"
  style="height: 80vh"
  id="home"
>
  <img
    src="./assets/images/Particle Wave.gif"
    loading="lazy"
    class="bg-cover w-full h-full rounded-lg"
  />

  <div
    class="absolute flex flex-col text-white justify-center items-center ml-2"
    style="width: 50%"
  >
    <div class="flex justify-center items-center company-name">
      <div class="flex">IGNITE</div>
      <div class="flex company-name-x">X</div>
    </div>
    <div class="flex justify-center items-center motto">
      Powering Progress, Connecting Possibilities. Your One-Stop Hub for
      Cutting-Edge IT Solutions, Security Systems, and Gaming Thrills!
    </div>
  </div>
</div>

<div
  class="flex flex-col w-full h-full body-padding my-2 bg-white"
  style="padding-left: 10%"
  id="about_us"
>
  <div class="flex flex-col">
    <div class="flex items-center">
      <h3 class="heading">About Us</h3>
      <div class="line bg-primary"></div>
    </div>
    <p class="text-sm font-normal">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsa id at
      corrupti modi laboriosam aperiam. Fuga dicta omnis ad exercitationem!
    </p>
  </div>

  <div class="flex items-center justify-center mt-2">
    <div class="flex flex-1 justify-center items-center p-4">
      <img
        src="./assets/svg/about-us.svg"
        alt="about us"
        loading="lazy"
        style="height: 300px"
        class="shadow-md rounded-lg"
      />
    </div>
    <div class="flex flex-1 justify-center items-center">
      <p class="text-justify about-us-content">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Facilis
        distinctio suscipit error doloremque veritatis, quibusdam corporis sequi
        ipsum! Sint et aliquam tenetur porro vitae voluptatem quis quam corporis
        quod illum.
      </p>
    </div>
  </div>
</div>

<div
  class="flex justify-center items-center bg-white body-padding"
  id="service"
>
  <div class="border-2 border-primary rounded-lg mx-4 p-2 flex flex-col">
    <div class="flex items-center px-4">
      <h3 class="heading">What We Do</h3>
      <div class="line bg-primary"></div>
    </div>
    <div class="grid grid-cols-3 gap-4">
      <div
        class="grid p-4 justify-center bg-white rounded-lg items-center service-card ease-in-out duration-200 hover:scale-105 shadow-md m-4"
        *ngFor="let item of services"
      >
        <img [src]="item?.imageURL" loading="lazy" />
        <div
          class="flex justify-center text-black font-semibold mt-2 service-name text-center"
        >
          {{ item?.name | uppercase }}
        </div>
      </div>
    </div>
  </div>
</div>

<div
  class="flex flex-col w-full h-full body-padding my-2 bg-white"
  style="padding-left: 10%"
>
  <div class="flex flex-col">
    <div class="flex items-center">
      <h3 class="heading">Our Mission</h3>
      <div class="line bg-primary"></div>
    </div>
  </div>

  <div class="flex items-center justify-center mt-2">
    <div class="flex flex-1 justify-center items-center">
      <p class="text-justify about-us-content">
        Empowering businesses with seamless technology solutions, safeguarding
        environments through advanced security systems, and enhancing
        entertainment experiences with top-notch gaming gear. At IgniteX, we
        ignite success, connectivity, and joy in every endeavor.
      </p>
    </div>
    <div class="flex flex-1 justify-center items-center p-4">
      <img
        src="./assets/svg/mission.svg"
        alt="our mission"
        loading="lazy"
        style="height: 300px"
        class="shadow-md rounded-lg"
      />
    </div>
  </div>
</div>

<div
  class="flex flex-col w-full h-full body-padding my-2 bg-white"
  style="padding-left: 10%"
>
  <div class="flex flex-col">
    <div class="flex items-center">
      <h3 class="heading">Our Vision</h3>
      <div class="line bg-primary"></div>
    </div>
  </div>

  <div class="flex items-center justify-center mt-2">
    <div class="flex flex-1 justify-center items-center p-4">
      <img
        src="./assets/svg/vision.svg"
        alt="our vision"
        loading="lazy"
        style="height: 300px"
        class="shadow-md rounded-lg"
      />
    </div>
    <div class="flex flex-1 justify-center items-center">
      <p class="text-justify about-us-content">
        To be the forefront catalyst of technological evolution, creating a
        world where businesses thrive with efficiency, security is a
        non-negotiable standard, and entertainment is elevated to new heights.
        IgniteX envisions a future where innovation knows no bounds, and
        connectivity is the driving force behind progress.
      </p>
    </div>
  </div>
</div>

<div
  class="flex justify-center items-center bg-white body-padding"
  id="amc"
>
  <div class="border-2 border-primary rounded-lg mx-4 p-2 flex flex-col">
    <div class="flex items-center px-4">
      <h3 class="heading">AMC & Networking</h3>
      <div class="line bg-primary"></div>
    </div>
    <div class="grid grid-cols-3 gap-4">
      <div
        class="grid p-4 justify-center bg-white rounded-lg items-center service-card ease-in-out duration-200 hover:scale-105 shadow-md m-4"
        *ngFor="let item of amc"
      >
        <img [src]="item?.imageURL" loading="lazy" />
        <div
          class="flex justify-center text-black font-semibold mt-2 service-name text-center"
        >
          {{ item?.name | uppercase }}
        </div>
      </div>
    </div>
  </div>
</div>
