@import "./styles/animation.styles.scss";

.company-name {
  animation: moveInLeft 3s ease-out;

  &-x {
    text-shadow: 12px 0px 0px #795c344f;
  }
}

.motto {
  text-align: center;
  animation: moveInRight 3s ease-out;
}

.heading {
  font-weight: 500;
  font-size: clamp(1.25rem, 2.5vw, 2rem);
  line-height: 4rem;
}

.line {
  width: 10%;
  height: 3px;
  margin-left: 10px;
}

.about-us-content {
  width: 70%;
}

.z-1 {
  z-index: 1 !important;
}

.body-padding {
  padding: 10px 50px;
}

.service-card {
  height: 320px;
  width: 300px;

  img {
    width: 230px;
    height: 230px;
    border-radius: 10px;
  }

  .service-name {
    width: 230px;
    color: #fff;
  }
}

.form-container {
  box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px,
    rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
}

button.submit {
  background-color: #4169e1;
  color: #fff;
  border-radius: 50px;
}

button.social-icons {
  color: #fff;
  border: 1px solid #fff;
  padding: 3px 5px;
  border-radius: 50%;
  margin: 0px 5px;
  font-size: 1.5rem;
  width: 50px;
  height: 50px;
  transition: ease-in-out 1s;

  &:hover {
    color: #fff;
    background-color: #4169e1;
    border-color: #4169e1;
  }
}

.shapes {
  position: relative;
  border-radius: 40% 48% 38% 77%/78% 80% 30% 41%;
  width: 200px;
  height: 200px;
  background-color: #d3d4d7;
  opacity: 0.1;

  &-right {
    right: 125px;
    bottom: -125px;
  }

  &-left {
    left: -450px;
    top: -125px;
  }
}

.bg-filter-custom {
  backdrop-filter: blur(50px) saturate(100%);
  -webkit-backdrop-filter: blur(50px) saturate(100%);
  background-color: #ffffff30;
}
